.wrap {
	gap: var(--sp-md);
}

.container {
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: var(--sp-xs);
	cursor: pointer;
}

.container > div:first-child > p:first-child {
	color: var(--color-grey-600);
	font-size: 1rem;
}

.priceFee {
	font-weight: 500;
	font-size: 1rem;
	color: var(--color-grey-700);
}

.iconWrap {
	justify-content: center;
	align-items: center;
	padding: var(--sp-sm);
}
