.process_widget {
	display: flex;
	width: 394px;
	flex-direction: column;
	align-items: center;
	border-radius: var(--space-l);
	padding: var(--space-m);
	gap: var(--space-m);
	background-color: var(--color-gray-25);
	border-bottom: 1px solid var(--color-gray-100);
	z-index: 2;
	position: relative;
}
