.search-tokens {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: var(--sp-sm);
	align-self: stretch;
}

.search-tokens__title {
	font-size: 0.875rem;
	font-weight: 500;
	line-height: 1.25rem;
	color: var(--color-grey-700);
}
