.swap {
	display: flex;
	flex-direction: column;
	padding: var(--sp-xxl) var(--sp-xxl) 0 var(--sp-xxl);
	align-items: center;
	flex: 1 0 0;
	align-self: stretch;
}

.swap_widgets {
	display: flex;
	align-items: center;
	margin-bottom: var(--sp-lg);
	gap: var(--sp-md);
}

@media only screen and (max-width: 744px) {
	.swap {
		padding: var(--sp-lg) var(--sp-lg) 0 var(--sp-lg);
	}
}
