.swap {
	display: flex;
	flex-direction: column;
	padding: var(--sp-xxl) var(--sp-xxl) var(--sp-xxl) var(--sp-xxl);
	align-items: center;
	overflow-y: auto;
	min-height: calc(100vh - var(--header-height));
}

.swap_widgets {
	display: flex;
	align-items: center;
	margin-bottom: var(--sp-lg);
	gap: var(--sp-md);
}

@media only screen and (max-width: 744px) {
	.swap {
		padding: var(--sp-lg) var(--sp-lg) var(--sp-lg) var(--sp-lg);
	}
}
