.maintenance_wrapper {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	& .maintenance_banner {
		display: flex;
		flex-direction: column;
		gap: var(--space-xs);
		background-color: var(--color-gray-25);
		border-radius: 24px;
		padding: var(--space-m);
		position: relative;
		text-align: center;
		max-width: 498px;

		& .maintenance_banner_title {
			color: var(--color-gray-700);
			font-size: 1.5rem;
			font-weight: 500;
		}

		& .maintenance_banner_subtitle {
			color: var(--color-gray-600);
			font-size: 1rem;
			font-weight: 500;
		}
	}
}
