.pool_action_process_heading {
	display: flex;
	flex-direction: row;
	align-items: center;
	align-self: stretch;
	gap: var(--space-m);
	padding-left: 56px;
}

.pool_action_process_heading_no_button {
	padding-right: 0;
	justify-content: center;
	flex: 1 0 0;
}

.pool_action_process_card_title {
	display: flex;
	flex: 1 0 0;
	justify-content: center;
	align-items: center;
	font-size: 1.125rem;
	font-weight: 400;
	line-height: 22px;
	color: var(--color-gray-700);
	height: 40px;
}
