.container {
	gap: var(--sp-sm);
}

.item {
	flex-direction: row;
	justify-content: space-between;
}

.values {
	flex-direction: row;
	gap: var(--sp-xs);
}

.impact {
	color: var(--color-grey-700);
}
