.container {
	margin-top: var(--sp-md);
	gap: var(--sp-sm);
}

.item {
	flex-direction: row;
	justify-content: space-between;
}

.descriptions {
	flex-direction: row;
	gap: var(--sp-sm);
}

.description {
	color: var(--color-grey-600);
}

.values {
	flex-direction: row;
	gap: var(--sp-xs);
}

.impact {
	font-weight: 500;
	color: var(--color-grey-700);
}

.tooltip {
	background-color: var(--color-grey-900) !important;
	color: var(--color-grey-300) !important;
	width: 224px !important;
}
