.token-not-found {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--sp-md);
	align-self: stretch;
}

.token-not-found__img {
	display: flex;
	height: 192px;
	width: 192px;
	padding: 0 60px;
	justify-content: center;
	align-items: center;
	align-self:;
}

.token-not-found__text {
	font-size: 1rem;
	font-weight: 500;
	line-height: 20px;
	color: var(--color-grey-700);
}
