.container {
	height: fit-content;
	width: fit-content;
	position: relative;
}

.token {
	border-radius: 50%;
}

.borderSmall {
	border-radius: var(--space-xxs) !important;
}

.borderMedium {
	border-radius: var(--space-xs) !important;
}

.chain {
	background-color: var(--color-gray-25);
	border-radius: var(--space-xxs);
	box-shadow:
		0 0 6px 0 rgba(52, 64, 84, 0.3),
		0 2px 3px 0 rgba(52, 64, 84, 0.15);
	position: absolute;
	bottom: 0;
	right: 0;
}

.xs {
	width: var(--space-s);
	height: var(--space-s);

	+ .chain {
		display: none;
	}
}

.s {
	width: var(--space-m);
	height: var(--space-m);

	+ .chain {
		display: none;
	}
}

.m {
	width: var(--space-l);
	height: var(--space-l);

	+ .chain {
		width: var(--space-s);
		height: var(--space-s);
	}
}

.l {
	width: var(--space-xxl);
	height: var(--space-xxl);

	+ .chain {
		width: var(--space-m);
		height: var(--space-m);
	}
}

.xl {
	width: var(--space-xxxl);
	height: var(--space-xxxl);

	+ .chain {
		width: var(--space-l);
		height: var(--space-l);
	}
}
