.step {
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: var(--sp-sm);
}

.idle,
.pending,
.await,
.error,
.success {
	font-size: 0.875rem;
}

.idle {
	color: var(--color-grey-500);
}

.pending,
.await {
	color: var(--color-grey-700);
}

.error {
	color: var(--color-danger-600);
}

.success {
	color: var(--color-success-600);
}
