input {
	background-color: transparent;
	color: var(--color-grey-700);
	border: none;
	font-size: 32px;
	font-weight: 500;
	outline: none;
	width: 100%;
}

input::placeholder {
	color: var(--color-grey-500);
}
