.card_pointer {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	pointer-events: none;
	background-color: var(--color-grey-25);
	z-index: 2;
}

.card_pointer_separator {
	width: 160px;
	height: 1px;
	background-color: var(--color-grey-100);
}

.card_pointer_icon {
	background-color: var(--color-grey-100);
	margin-left: var(--sp-sm);
	margin-right: var(--sp-sm);
	pointer-events: auto;
}
