.swap_container {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 394px;
	height: auto;
}

.swap {
	display: flex;
	position: relative;
	overflow: hidden;
	flex-direction: column;
	height: auto;
}

@media only screen and (min-width: 641px) and (max-width: 1024px) {
	.swap_container {
		max-width: 448px;
	}
}

@media only screen and (max-width: 640px) {
	.swap_container {
		max-width: 100%;
	}
}
