.currentValueBig {
	color: var(--color-gray-700);
	font-size: 1.5rem;
}

.maxValueBig {
	color: var(--color-gray-500);
	font-size: 14px;
}

.currentValueMedium {
	color: var(--color-gray-700);
	font-size: 1rem;
}

.maxValueMedium {
	color: var(--color-gray-600);
	font-size: 1rem;
}
