{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": false,
  "bracketSameLine": false,
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": true,
  "arrowParens": "avoid",
  "endOfLine": "auto",
    "overrides": [
        {
        "files": "*.json",
        "options": {
            "printWidth": 80
        }
        }
    ]
}

