.button {
	width: fit-content;
	border-radius: var(--st-br-md);
	min-height: var(--space-m);
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: var(--space-s);
	box-sizing: content-box;
	transform-origin: center;
	transition:
		transform 0.2s,
		0.25s,
		border-color 0.25s,
		color 0.25s;
}

.sm {
	padding: var(--space-xs);
}

.lg {
	padding: var(--space-m);
}

.default {
	background-color: var(--color-accent-600);

	&:hover {
		background-color: var(--color-accent-700);
	}

	&:active {
		background-color: var(--color-accent-800);
	}
}

.secondaryColor {
	background-color: var(--color-accent-600);

	&:hover {
		background-color: var(--color-accent-700);
	}

	&:active {
		background-color: var(--color-accent-800);
	}
}

.secondaryColor {
	background-color: var(--color-accent-600);

	&:hover {
		background-color: var(--color-accent-700);
	}

	&:active {
		background-color: var(--color-accent-800);
	}
}

.secondary {
	background-color: var(--color-gray-100);

	&:hover {
		background-color: var(--color-gray-200);
	}

	&:active {
		background-color: var(--color-gray-300);
	}
}
