.tagContainer {
	width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
	gap: var(--space-xs);
	margin-bottom: var(--space-xs);
}

.textareaContainer {
	width: 100%;
	height: 200px;
	flex-direction: row;
}

.sectionTitle {
	margin: var(--space-s) 0 var(--space-xs) 0;
}

.ctaButton {
	margin-top: var(--space-s);
}

div > input {
	font-size: 14px;
}
