.notAccessContainer {
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	gap: var(--sp-lg);
	text-align: center;
}

.buttonsContainer {
	flex-direction: row;
	flex-wrap: wrap;
	gap: var(--sp-lg);
}

@media (max-width: 425px) {
	.buttonsContainer {
		flex-direction: column;
	}
}
