.actions_table_fees {
	display: flex;
	align-items: center;
	gap: var(--space-xxs);

	& .actions_table_fees_value {
		font-size: 0.875rem;
		line-height: 1.125rem;
		font-weight: 500;
		color: var(--color-gray-700);
	}

	& .actions_table_fees_denomination {
		font-size: 0.875rem;
		line-height: 1.125rem;
		font-weight: 500;
		color: var(--color-gray-500);
	}
}
