.divider-section {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.divider-section__divider {
	flex: 1;
	height: 1px;
	background-color: var(--color-grey-200);
}

.divider-section__icon-button {
	margin: 0 var(--sp-lg);
}
