input {
	background-color: transparent;
	color: var(--color-grey-700);
	border: none;
	font-size: 32px;
	line-height: 32px;
	height: 32px;
	font-weight: 500;
	outline: none;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

input::placeholder {
	color: var(--color-grey-500);
}
