.swapDetailsContainer {
	align-items: center;
	justify-content: space-between;
	overflow: hidden;
}

.reviewContainer {
	width: 100%;
	padding-bottom: var(--space-m);
	gap: var(--space-m);
}

.reviewContainer > div {
	border-radius: var(--space-m);
}

.selectRouteButtonContainer {
	width: 100%;
	padding: var(--space-xxs) 0;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
