.swap_widget {
	max-width: 395px;
}

.swap_widget__container {
	background-color: var(--color-grey-25);
	border-radius: var(--sp-xl);
	padding: var(--st-br-lg);
}

.swap_widget__content {
	margin-bottom: var(--sp-lg);
	gap: var(--sp-lg);
}
