.pools_action_process_step {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: var(--space-xs);
}

.pools_action_process_step_title {
	color: var(--color-gray-500);
	font-size: 0.875rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.125rem;
}

.pools_action_process_step_Idle {
	color: var(--color-gray-500);
	font-weight: 500;
}

.pools_action_process_step_Pending {
	color: var(--color-gray-700);
	font-weight: 500;
}

.pools_action_process_step_Success {
	color: var(--color-success-600);
	font-weight: 500;
}

.pools_action_process_step_Failed,
.pools_action_process_step_Rejected {
	color: var(--color-danger-600);
	font-weight: 500;
}

.pools_action_process_step svg {
	width: 16px;
	height: 16px;
}
