.conceroWatermark {
	flex-direction: row;
	align-items: center;
	gap: var(--st-br-xs);
	color: var(--color-grey-450);
	font-size: var(--st-br-md);
	margin-bottom: var(--sp-xxl);

	svg {
		fill: var(--color-grey-450);
		margin-top: 5px;
	}
}
