.badge {
	display: flex;
	align-items: center;
	height: fit-content;
	width: fit-content;
}

.badge_img {
	border-radius: var(--sp-sm);
	width: 24px;
	height: 24px;
}

.badge_xs {
	width: var(--sp-md);
	height: var(--sp-md);
}

.badge_s {
	width: var(--sp-lg);
	height: var(--sp-lg);
}

.badge_m {
	width: var(--sp-xl);
	height: var(--sp-xl);
}

.badge_l {
	width: var(--sp-xxl);
	height: var(--sp-xxl);
}

.badge_xl {
	width: var(--sp-xxxl);
	height: var(--sp-xxxl);
}
