.source_panel {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: var(--sp-sm);
	align-self: stretch;
}

.source_panel-compact {
	transform: scale(0.95);
}

.input-compact input {
	font-size: 32px !important;
	transition: font-size 0.2s ease-in-out;
}
