@keyframes FadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes FadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes ScaleIn {
	from {
		opacity: 0;
		transform: translateY(20px) scale(0.96);
	}
	to {
		opacity: 1;
		transform: translateY(0) scale(1);
	}
}

@keyframes ScaleOut {
	from {
		opacity: 1;
		transform: translateY(0) scale(1);
	}
	to {
		opacity: 0;
		transform: translateY(20px) scale(0.96);
	}
}

.support_modal_overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	padding: var(--space-xxxl) 0px;
	background: rgba(51, 59, 63, 0.5);
	backdrop-filter: blur(12.5px);
	z-index: 1000;
	animation: FadeIn 0.25s ease forwards;

	&--closing {
		animation: FadeOut 0.25s ease forwards;
	}

	& .support_modal {
		display: flex;
		flex-direction: column;
		justify-content: center;
		max-width: 394px;
		margin: 0 auto;
		width: 100%;
		padding: var(--space-m);
		gap: var(--space-m);
		flex-shrink: 0;
		background: var(--color-gray-25);
		border-radius: 24px;
		font-family: var(--font-body-medium-family);
		animation: ScaleIn 0.3s ease forwards;

		&--closing {
			animation: ScaleOut 0.25s ease forwards;
		}

		& .support_modal_description {
			font-size: 1rem;
			color: var(--color-gray-600);
			font-weight: 300;
			line-height: 1.25rem;
			text-align: center;
		}

		& .support_modal_option {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: var(--space-xs);
			width: 100%;

			& .support_modal_option_text {
				font-size: 1rem;
				text-align: center;
				font-weight: 400;
				color: var(--color-gray-700);
				line-height: 1.25rem;
			}
		}
	}
}
