.currentValueBig {
	color: var(--color-grey-700);
}

.maxValueBig {
	color: var(--color-grey-500);
	font-size: 14px;
}

.currentValueMedium {
	color: var(--color-grey-700);
	font-size: 1rem;
}

.maxValueMedium {
	color: var(--color-grey-600);
	font-size: 1rem;
}
