.chain_selection {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: var(--sp-xs);
	cursor: pointer;
}

.chain_selection_logo {
	width: 24px;
	height: 24px;
	border-radius: var(--sp-sm);
}

.chain_selection_name {
	font-size: 1rem;
	font-weight: 500;
	line-height: 18px;
	color: var(--color-grey-700);
}
