.metrics_banner {
	display: flex;
	padding: var(--space-s) var(--space-m) var(--space-s) var(--space-s);
	max-width: 608px;
	margin: 0 auto;
	align-items: center;
	gap: var(--space-s);
	width: 100%;
	border-radius: 24px;
	background-color: var(--color-accent-50);

	& .metrics_banner_content {
		display: flex;
		padding-right: var(--space-s);
		align-items: center;
		gap: var(--space-xs);
		width: 100%;

		& .metrics_banner_content_icon_container {
			display: flex;
			width: 48px;
			height: 48px;
			padding: var(--space-s);
			justify-content: center;
			align-items: center;
			border-radius: 12px;
			background-color: var(--color-accent-25);
		}

		& .metrics_banner_content_text {
			color: var(--color-accent-700);
			font-size: 1.125rem;
			font-weight: 500;
			line-height: 1.375rem;

			& .metrics_banner_text_light {
				color: var(--color-accent-600);
				font-weight: 400;
			}
		}
	}

	& .metrics_banner_action {
		display: flex;
		align-items: center;
		width: auto;
	}
}

@media only screen and (min-width: 641px) and (max-width: 1024px) {
	.metrics_banner {
		max-width: 100%;
	}
}

@media only screen and (max-width: 640px) {
	.metrics_banner {
		display: flex;
		flex-direction: column;
		max-width: 100%;

		& .metrics_banner_action {
			align-items: start;
			padding-left: 56px;
			width: 100%;
		}
	}
}
