.actions_table_compact {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;

	& .actions_table_compact_container {
		display: flex;
		flex-direction: column;
		gap: var(--space-xs);
		align-items: flex-start;

		& .actions_table_compact_action {
			display: flex;
			height: 20px;
			align-items: center;
			gap: var(--space-xs);

			& .actions_table_compact_text {
				font-size: 0.875rem;
				line-height: 1.125rem;
				font-weight: 500;
				color: var(--color-gray-700);
			}
		}
	}
}
