.native_info {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: var(--sp-xs);
}

.native_info_tooltip {
	z-index: 1000;
	max-width: 200px;
	width: 100%;
	background-color: var(--color-grey-900) !important;
}

.native_info_text {
	font-size: 0.875rem;
	font-weight: 400;
	color: var(--color-grey-300);
	line-height: 18px;
}

.info_icon_wrapper:hover svg path {
	fill: var(--color-grey-700);
}
