.direction {
	color: var(--color-grey-600);
}

.amount {
	color: var(--color-grey-700);
	font-weight: 500;
	overflow: hidden;
	text-overflow: ellipsis;
}

.token {
	flex-direction: row;
	align-items: center;
	max-width: 112px;
	width: 100%;
}
