.transaction_content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: var(--space-xs);
	align-self: stretch;
}

.token_with_chain {
	position: relative;
	display: inline-block;
}

.transaction_content_from,
.transaction_content_to {
	display: flex;
	height: 160px;
	width: 100%;
	padding: var(--space-xxxl);
	justify-content: center;
	align-items: center;
	gap: 10px;
	flex: 1 0 0;
	border-radius: var(--space-m);
	background-color: var(--color-gray-50);
}

.transaction_content_arrow {
	display: flex;
	width: 24px;
	height: 24px;
	padding: var(--space-xxs);
	justify-content: center;
	align-items: center;
	background-color: var(--color-gray-50);
	border-radius: var(--space-xs);
}

.transaction_chain_image {
	background-color: var(--color-gray-25);
	border-radius: var(--space-xxs);
	box-shadow:
		0 0 6px 0 rgba(52, 64, 84, 0.3),
		0 2px 3px 0 rgba(52, 64, 84, 0.15);
	position: absolute;
	bottom: 0;
	right: 0;
}

.transaction_content_image {
	width: 48px;
	height: 48px;
	border-radius: var(--space-xxxl);
}

.transaction_chain_image {
	width: 24px;
	height: 24px;
	border-radius: var(--space-xs);
}

@media only screen and (min-width: 641px) and (max-width: 1024px) {
	.transaction_content_from,
	.transaction_content_to {
		max-width: 100%;
		width: 100%;
	}
}
