.chart_menu {
	display: flex;
	align-items: center;
	gap: var(--space-xxs);

	& .chart_menu_option {
		width: 44px !important;
		height: 32px !important;

		& .chart_menu_option_text {
			font-size: 0.875rem;
			font-weight: 500;
			font-style: normal;
			line-height: 1.125rem;
			color: var(--color-gray-600);
		}
	}
}
