.mode-menu-container {
	display: flex;
	flex-direction: row;
	gap: var(--sp-xs);
	justify-content: center;
	margin-bottom: var(--sp-md);
	z-index: 2;
}

.mode-menu__button {
	display: flex;
	flex-direction: column;
	padding: var(--sp-sm) var(--sp-lg);
	border-radius: var(--sp-md);
	color: var(--color-primary-600);
	background-color: transparent;
	transition: 300ms ease-in;
}
