#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100vw;
	overflow-x: hidden;
	background: var(
		--background_desktop_neutral,
		linear-gradient(
			180deg,
			var(--color-gray-25, #fcfcfd) 8%,
			var(--color-gray-50, #f3f5f6) 22%
		)
	);
}
