:root {
	--st-br-xl: 20px;
	--st-br-lg: 16px;
	--st-br-md: 12px;
	--st-br-sm: 8px;
	--st-br-xs: 4px;

	--sp-xxxl: 48px;
	--sp-xxl: 32px;
	--sp-xl: 24px;
	--sp-lg: 16px;
	--sp-md: 12px;
	--sp-sm: 8px;
	--sp-xs: 4px;
	--sp-xxs: 2px;
	--sp-screen-v: 20px;
	--sp-screen-h: 20px;

	/*--color-tag-recommended: #7335F7;*/
	/*--color-tag-fastest: #093D6D;*/
	/*--color-tag-cheapest: #6D0A46;*/
	/*--color-button-disabled: #45336D;*/
	/*--color-border-disabled: #7335F7;*/
	/*--color-button-wrong: #421C28;*/
	/*--color-border-wrong: #7A253E;*/
	/*--color-button-success: #1E4839;*/
	/*--color-border-success: #20A273;*/

	color-scheme: light dark;
	font-family: DM_Sans, sans-serif;
	font-size: 16px; /* base font size, 1rem */
	-webkit-font-smoothing: antialiased;
	font-synthesis: none;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	-webkit-text-size-adjust: 100%;
}

header,
main,
footer,
aside,
nav,
section,
article,
figure,
figcaption,
ul,
ol,
li {
	display: flex;
}

body {
	width: 100vw;
	height: 100vh;
	background-color: #ffffff;
	box-sizing: border-box;
	display: flex;
	margin: 0;
	padding: 0;
	scrollbar-width: none;
}

@media (max-width: 768px) {
	body {
		width: 100%;
		height: 100%;
		overflow-y: scroll;
	}
}

body::-webkit-scrollbar {
	display: none;
}

.light {
	/* primary colors */
	--color-primary-25: #f5fbfe;
	--color-primary-50: #eff9fe;
	--color-primary-100: #d2effd;
	--color-primary-200: #ace1fb;
	--color-primary-300: #66c7f7;
	--color-primary-400: #0c9fe8;
	--color-primary-500: #0a7db6;
	--color-primary-600: #086796;
	--color-primary-700: #07577f;
	--color-primary-800: #06496a;
	--color-primary-900: #053d59;

	/* grey */
	--color-grey-25: #fcfcfd;
	--color-grey-50: #f9fafb;
	--color-grey-100: #f2f4f7;
	--color-grey-200: #eaecf0;
	--color-grey-300: #d0d5dd;
	--color-grey-400: #98a2b3;
	--color-grey-500: #667085;
	--color-grey-600: #475467;
	--color-grey-700: #344054;
	--color-grey-800: #1d2939;
	--color-grey-900: #101828;

	/* success */
	--color-success-25: #e9fcf2;
	--color-success-50: #dafbea;
	--color-success-100: #c5f8dd;
	--color-success-200: #75eeaf;
	--color-success-300: #42de8c;
	--color-success-400: #22c474;
	--color-success-500: #1da562;
	--color-success-600: #17854f;
	--color-success-700: #11633b;
	--color-success-800: #0c4228;
	--color-success-900: #062416;

	/* warning */
	--color-warning-25: #fffcf5;
	--color-warning-50: #fffaeb;
	--color-warning-100: #fef0c7;
	--color-warning-200: #fedf89;
	--color-warning-300: #fec84b;
	--color-warning-400: #fdb022;
	--color-warning-500: #f79009;
	--color-warning-600: #dc6803;
	--color-warning-700: #b54708;
	--color-warning-800: #93370d;
	--color-warning-900: #7a2e0e;

	/* danger */
	--color-danger-25: #fffbfa;
	--color-danger-50: #fef3f2;
	--color-danger-100: #fee4e2;
	--color-danger-200: #fecdca;
	--color-danger-300: #fda29b;
	--color-danger-400: #f97066;
	--color-danger-500: #f04438;
	--color-danger-600: #d92d20;
	--color-danger-700: #b42318;
	--color-danger-800: #912018;
	--color-danger-900: #7a271a;
	/* text */
	--color-text-primary: #131313;
	--color-button-text-primary: #fbfbfb;
	--color-text-secondary: #7e7b86;
	--color-primary-to-lightest: #7335f7;
}

.dark {
}

div#root {
	background-color: var(--color-grey-25);
	flex: 1;
	height: 100vh;
}

@media (max-width: 768px) {
	div#root {
		width: 100%;
	}
}

div {
	box-sizing: border-box;
	color: var(--color-grey-500);
	display: flex;
	flex-direction: column;
	scrollbar-width: none;
}

div::-webkit-scrollbar {
	display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
input,
label,
span,
li {
	box-sizing: border-box;
	font-family: inherit;
	margin: 0;
	padding: 0;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

textarea {
	box-sizing: border-box;
	font-family: inherit;
	margin: 0;
	padding: 0;
	resize: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

textarea:focus {
	outline: none;
}

ul,
ol,
li {
	margin-block: 0;
	margin-inline: 0;
	padding-inline: 0;
}

h1 {
	font-size: 2rem;
	font-weight: 600;
}

h2 {
	font-size: 1.5rem;
	font-weight: 500;
}

h3 {
	font-size: 1.125rem;
	font-weight: 500;
}

h4 {
	font-size: 1rem;
	line-height: 1.125rem;
	font-weight: 500;
}

h5 {
	font-size: 0.875rem;
	font-weight: 500;
}

p {
	display: inline;
	font-size: 1rem;
	font-weight: 400;
}

a {
	color: inherit;
	text-decoration: none;
}

.body1 {
	color: var(--color-grey-500);
	font-size: 0.875rem;
	flex: none;
}

.body2 {
	color: var(--color-grey-500);
	font-size: 0.875rem;
	flex: none;
	font-weight: 400;
	line-height: 1.125rem;
}

.body3 {
	color: var(--color-grey-500);
	font-size: 0.95rem;
	flex: none;
}

.body4 {
	color: var(--color-grey-500);
	font-size: 1rem;
	flex: none;
	font-weight: 400;
}

.tagBody {
	color: var(--color-grey-500);
	font-size: 0.875rem;
}

button {
	border: none;
	cursor: pointer;
	font-weight: 500;
	outline: none;
}

.cardHeaderTitle {
	color: var(--color-text-secondary);
}
