@import './variables.css';

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
	font-family: var(--font-family-primary);
	height: 100%;
	width: 100vw;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

html::-webkit-scrollbar {
	display: none;
}
ul[role='list'],
ol[role='list'] {
	list-style: none;
}

body {
	padding: 0;
	margin: 0;
	min-height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	position: relative;
}

@media only screen and (max-width: 1024px) {
	body {
		height: 100%;
		min-height: 100vh;
		overflow-y: auto;
		overflow-x: hidden;
	}
}

main {
	display: flex;
	flex-direction: column;
	width: 100%;
	flex-grow: 1;
}

a {
	text-decoration: none;
}

h1,
h2,
h3,
h4 {
	text-wrap: balance;
}

h1,
h2,
h3,
h4,
h5,
p {
	margin: 0;
}

a:not([class]) {
	text-decoration-skip-ink: auto;
	color: currentColor;
}

input,
button,
textarea,
select {
	font-family: inherit;
	font-size: inherit;
	outline: none;
	border: none;
}

div::-webkit-scrollbar {
	display: none;
}
