:root {
	--font-family-primary: 'DM_Sans', sans-serif;
	--header-height: 56px;

	font-size: 16px;
	font-family: var(--font-family-primary);
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}
