.container {
	gap: var(--space-m);
}

.content {
	gap: var(--space-m);
}

.poolStatus {
	gap: var(--space-xxs);
	font-weight: 500;
	font-size: 0.875rem;
}

.poolStatus > p {
	font-weight: 500;
	font-size: 0.875rem;
}

.info {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--space-s);
}

.generalInfo {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: var(--space-xs);
	min-height: 32px;
}

.title {
	font-size: 1.5rem;
	color: var(--color-gray-600);
}

.poolStats {
	gap: var(--space-s);
}

.statsRow {
	display: flex;
	width: 100%;
	justify-content: space-between;
	border-bottom: 1px solid var(--color-gray-100);
	flex-direction: row;
	padding-bottom: var(--space-xs);
}

.stat {
	font-weight: 500;
	font-size: 1rem;
	color: var(--color-gray-600);
}

.buttons {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: var(--space-xs);
	align-items: center;
}

.buttons > div {
	width: 100%;
}

.button {
	width: 100%;
	height: 48px;
}

@media (max-width: 425px) {
	.buttons {
		display: flex;
		flex-direction: column;
	}

	.button {
		width: 100%;
	}
}
