.token_selection {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: var(--sp-xs);
	cursor: pointer;
}

.token_selection_name {
	font-size: 1rem;
	font-weight: 500;
	line-height: 18px;
	color: var(--color-grey-700);
}
