.container {
	flex: 1;
	gap: var(--space-s);
}

.stepBlock {
	gap: var(--space-s);
}

.buttonContainer {
	width: 100%;
	flex-direction: row;
	gap: var(--space-s);
}

.f1 {
	flex: 1;
}

.title {
	color: var(--color-text-secondary);
}

.alightStart {
	align-self: flex-start;
}
