.container {
	gap: var(--sp-sm);
}

.chainsContainer {
	flex-direction: row;
	margin-top: var(--sp-sm);
	gap: var(--sp-sm);
}

.firsChainsLineContainer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: var(--sp-sm);
	flex-wrap: nowrap;
	align-items: center;
	flex-direction: row;
}

.animeContainer {
	overflow: hidden;
}

.moreButton {
	width: 46px;
	height: 46px;
}

.title {
	color: var(--color-grey-700);
}
