.header_actions {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: var(--space-xs);
	flex: 1 0 0;

	& .header_actions_divider {
		width: 1px;
		height: 40px;
		background-color: var(--color-gray-100);
	}
}
