.route_info {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--sp-md);
	align-self: stretch;
}
.route_info_parameters {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: var(--sp-md);
	align-self: stretch;
}
