.approval_info {
	display: flex;
	flex-direction: column;
	padding: var(--space-xs) var(--space-xs) var(--space-s) var(--space-xs);
	align-items: center;
	justify-content: center;
	gap: var(--space-xs);
	border-radius: var(--space-m);
	background-color: var(--color-accent-100);
}

.approval_info_text {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: var(--space-xxs);
}

.approval_info_heading {
	font-size: 1.125rem;
	font-weight: 500;
	line-height: 22px;
	color: var(--color-accent-700);
}

.approval_info_subheading {
	font-size: 1rem;
	font-weight: 400;
	line-height: 20px;
	text-align: center;
	color: var(--color-accent-600);
}

.approval_info_icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 48px;
	height: 48px;
	padding: var(--space-s);
	border-radius: var(--space-s);
	background-color: var(--color-accent-25);
}
