.widget-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 394px;
	height: auto;
	margin: 0 auto;
	gap: var(--sp-md);
}

.widget {
	display: flex;
	position: relative;
	overflow: hidden;
	flex-direction: column;
	height: auto;
	box-shadow: 0px 20px 150px 0px var(--color-primary-100);
}
