.address_card {
	display: flex;
	flex-direction: column;
	padding: var(--sp-xxl) var(--sp-lg) var(--sp-lg) var(--sp-lg);
	border-top: 1px solid var(--color-grey-100);
	align-items: center;
	justify-content: center;
	gap: var(--sp-lg);
	max-width: 394px;
	width: 100%;
	background-color: var(--color-grey-25);
	border-radius: var(--sp-xl);
	z-index: 1;
}
