.action {
	min-height: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: var(--sp-md);
}

.leftSide {
	max-width: 373px;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: var(--sp-md);

	h6 {
		color: var(--color-grey-700);
	}
}

.value {
	max-width: 115px;
	width: 100%;
	color: var(--color-grey-700);
	font-weight: 400;
}

.date {
	max-width: 206px;
	width: 100%;
}

.button {
	max-width: 102px;
	width: 100%;
}
