.container {
	background: linear-gradient(
		90deg,
		var(--color-background-gradient-from) 0%,
		var(--color-background-gradient-to) 100%
	);
	flex: 1;
	padding: var(--sp-screen-v) var(--sp-screen-h);
}

@media (max-width: 768px) {
	.container {
		padding: var(--sp-sm);
	}
}
