.destination-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: var(--sp-xxl) var(--sp-lg) var(--sp-lg) var(--sp-lg);
	gap: var(--sp-md);
	align-self: stretch;
	border-radius: var(--sp-xl);
	background-color: var(--color-grey-25);
}
