.container {
	flex-direction: row;
	width: 100%;
	gap: var(--space-xs);
}

.item {
	height: 100%;
	align-items: center;
	gap: var(--space-xxs);
	flex-wrap: nowrap;
}

.bar {
	width: 100%;
	height: 20px;
	border-radius: var(--st-br-sm);
}

.barTitle {
	min-width: 70px;
}
