.asset-modal {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 394px;
	min-height: 556px;
	max-height: 960px;
	padding: var(--sp-lg);
	gap: var(--sp-lg);
	flex-shrink: 0;
	align-self: stretch;
}
