.container {
	width: 100%;
	max-width: 394px;
	margin-top: 48px;
}

.buttons {
	width: 100%;
	display: flex;
	flex-direction: row;
	gap: var(--sp-sm);
}

.tooltip {
	width: 196px;
}

@media (max-width: 744px) {
	.buttons {
		flex-direction: column;
		width: 100%;
	}

	.button {
		width: 100%;
	}
}
