.route_timer {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: var(--sp-xs);
}

.route_time {
	font-size: 0.875rem;
	font-weight: 500;
	line-height: 18px;
	font-style: normal;
	color: var(--color-grey-700);
}
