.overlay {
	width: 100%;
	height: 100%;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	top: 0;
	left: 0;
	position: fixed;
	bottom: 0;
	z-index: 10;
	-webkit-backdrop-filter: blur(8px);
	-moz-backdrop-filter: blur(8px);
	backdrop-filter: blur(8px);
	padding-top: 48px;
	padding-left: var(--space-m);
	padding-right: var(--space-m);
}

.container {
	background-color: var(--color-gray-25);
	border-radius: var(--space-l);
	overflow-y: hidden;
	padding: var(--space-m);
	gap: var(--space-m);
	z-index: 11;
	max-height: 90vh;
	max-width: 700px;
}

.header {
	align-items: center;
	flex-direction: row;
	gap: var(--space-xs);
	justify-content: space-between;
	position: relative;
	height: 40px;

	button {
		position: absolute;
	}
}

.titleContainer {
	flex-direction: row;
	align-items: center;
	width: 100%;
	text-align: center;
	justify-content: center;
	color: var(--color-gray-700);
}

@media (max-width: 768px) {
	.container {
		width: 100%;
	}
}
