.chart_tooltip {
	display: inline-flex;
	padding: var(--space-xs) var(--space-s);
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: calc(var(--space-s) - 2px);
	border-radius: 12px;
	background-color: var(--color-gray-900);
	box-shadow: 0 2px 12px 0 var(--color-gray-100);

	& .chart_tooltip_content {
		display: flex;
		padding: 0 var(--space-xxs);
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: var(--space-xxs);

		& .chart_tooltip_value {
			font-size: 0.875rem;
			font-weight: 500;
			line-height: 1.125rem;
			color: var(--color-gray-100);
		}

		& .chart_tooltip_time {
			font-size: 0.875rem;
			font-weight: 500;
			line-height: 1.125rem;
			color: var(--color-gray-300);
		}
	}
}
