.tooltip {
	z-index: 1;
	border-radius: var(--st-br-md) !important;
	background-color: var(--color-grey-700) !important;
	color: var(--color-grey-300) !important;
	padding: var(--st-br-md) !important;
	max-width: 300px;
	width: 100%;

	p {
		color: var(--color-grey-300) !important;
	}
}
