.tooltip {
	z-index: 1;
	border-radius: var(--st-br-md) !important;
	background-color: var(--color-grey-900) !important;
	color: var(--color-grey-300) !important;
	padding: var(--st-br-md) !important;
	max-width: 500px;
	width: 100%;
}

:root {
	--rt-opacity: 1;
}
