.content {
	display: flex;
	flex-direction: row;
	gap: var(--sp-md);
}

.iconContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 48px;
	width: 48px;
	background-color: rgba(232, 247, 254, 1);
	border-radius: 16px;
}

.textContainer {
	gap: var(--sp-xs);
}

.title {
	color: var(--color-grey-600);
	font-size: 1.125rem;
}

.value {
	color: var(--color-grey-700);
	font-size: 1.5rem;
}
