.modal_header {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: var(--sp-lg);
	align-self: stretch;
	padding-right: 56px;
}

.modal_header_title {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	gap: var(--sp-sm);
	flex: 1 0 0;
	text-align: center;
	font-size: 1.125rem;
	font-weight: 500;
	line-height: 1.5rem;
	color: var(--color-grey-700);
}
