.container {
	gap: var(--space-m);
}

.modal {
	max-width: 395px;
	width: 100%;
}

.title {
	color: var(--color-gray-700);
}

.tokenContainer {
	padding-top: var(--space-xxs);
	margin-top: var(--space-s);
	gap: var(--space-s);
	border-radius: var(--space-s);
	overflow-y: scroll;
	height: 318px;
}

.tokensContainer {
	width: 100%;
	padding: 0 var(--space-s);
}

.header {
	padding: var(--space-s) 0;
	flex-direction: row;
	justify-content: space-between;
}
