.container {
	gap: var(--sp-lg);
}

.modal {
	max-width: 395px;
	width: 100%;
}

.title {
	color: var(--color-grey-700);
}

.tokenContainer {
	padding-top: var(--sp-xs);
	margin-top: var(--sp-md);
	gap: var(--sp-md);
	border-radius: var(--sp-md);
	overflow-y: scroll;
	height: 318px;
}

.tokensContainer {
	width: 100%;
	padding: 0 var(--sp-md);
}

.header {
	padding: var(--sp-md) 0;
	flex-direction: row;
	justify-content: space-between;
}
