.mode_button {
	display: flex;
	flex-direction: column;
	padding: var(--sp-sm) var(--sp-lg);
	border-radius: var(--sp-md);
	color: var(--color-primary-600);
	background-color: transparent;
	transition: 300ms ease-in;
}

.active {
	background-color: var(--color-primary-100);
}
