.progressBar {
	flex-direction: row;
	height: var(--sp-sm);
	border-radius: var(--st-br-xs);
	background-color: var(--color-grey-100);
	width: 100%;
}

.progressLine {
	border-radius: var(--st-br-xs);
	height: inherit;
	background: linear-gradient(90deg, #7cd4fd 0%, #36bffa 100%);
}
