.view-section {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.view-button {
	display: flex;
	padding: var(--sp-xs) var(--sp-md);
	flex-direction: column;
	text-align: center;
	border-radius: 14px;
	background-color: var(--color-grey-100);
	color: var(--color-grey-600);
	font-size: 0.875rem;
}
