.source_card {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: var(--sp-lg) var(--sp-lg) var(--sp-xxl) var(--sp-lg);
	gap: var(--sp-sm);
	align-self: stretch;
	border-radius: var(--sp-xl);
	background-color: var(--color-grey-25);
	border-bottom: 1px solid var(--color-grey-100);
}
