.footer {
	display: flex;
	margin-top: auto;
	justify-content: center;
	align-items: center;
	padding: var(--space-xl) 0 var(--space-xxxxxl) 0;
	width: 100%;

	& .footer_link {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	& .footer_text {
		display: flex;
		text-align: center;

		p {
			font-size: 1rem;
			color: rgba(126, 84, 241, 1);
			line-height: 20px;
		}
	}
}
