.info-display {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: var(--sp-xs);
}
.info {
	font-size: 0.875rem;
}

.error {
	font-size: 0.875rem;
	color: var(--color-danger-600);
}
