.pools {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y: auto;
	padding: 0 var(--space-xl);
	min-height: calc(100vh - var(--header-height) - var(--footer-height));
	height: 100%;
	max-width: 1920px;
	margin: 0 auto;
	width: 100%;
}

@media only screen and (min-width: 641px) and (max-width: 1024px) {
	.pools {
		padding: 0 var(--space-xl);
	}
}

@media only screen and (max-width: 640px) {
	.pools {
		padding: 0 var(--space-m) var(--space-xl) var(--space-m);
	}
}
