.pools {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y: auto;
	min-height: calc(100vh - var(--header-height));
	height: 100%;
	max-width: 1920px;
	margin: 0 auto;
	width: 100%;
}
