.actions_table_action {
	display: flex;
	align-items: center;
	gap: var(--space-xs);
	min-height: 24px;

	& .actions_table_action_description {
		display: flex;
		align-items: center;
		gap: var(--space-xs);

		& .actions_table_action_type {
			font-size: 0.875rem;
			line-height: 1.125rem;
			font-weight: 500;
			color: var(--color-gray-700);
		}
	}
}
