.footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: var(--sp-md);
	width: 100%;
}

.iconWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 48px;
	height: 48px;
	background-color: rgba(126, 84, 241, 1);
	border-radius: var(--sp-lg);
	padding: var(--sp-sm);
}

.textContent {
	display: flex;
	text-align: center;
	p {
		font-size: 1rem;
		color: rgba(126, 84, 241, 1);
		line-height: 20px;
	}
}
