.table_body {
	display: flex;
	flex-direction: column;
	min-width: fit-content;
	max-width: 100%;
	margin: 0 auto;
	align-items: center;
	width: 100%;
	padding: 0 0 var(--space-m) 0;
	overflow-x: hidden;
}
