.container {
	width: 100%;
	flex-direction: row;
	align-items: center;
	padding: var(--space-xs);
	border-radius: var(--space-s);
	gap: 10px;
}

.content {
	display: flex;
	gap: var(--space-xxs);
}

.wrapIcon {
	padding: var(--space-s);
	border-radius: var(--space-s);

	svg {
		width: var(--space-l);
		height: var(--space-l);
	}
}

.neutral {
	background-color: var(--color-gray-100);

	.wrapIcon {
		background-color: var(--color-gray-25);
	}
	h3 {
		color: var(--color-gray-700);
		font-size: 18px;
		font-weight: 500;
	}
	p {
		color: var(--color-gray-600);
		font-size: 16px;
		font-weight: 400;
	}
}

.info {
	background-color: var(--color-accent-100);

	.wrapIcon {
		background-color: var(--color-accent-25);
	}
	h3 {
		color: var(--color-accent-700);
		font-size: 18px;
		font-weight: 500;
	}
	p {
		color: var(--color-accent-600);
		font-size: 16px;
		font-weight: 400;
	}
}

.success {
	background-color: var(--color-success-100);

	.wrapIcon {
		background-color: var(--color-success-25);
	}
	h3 {
		color: var(--color-success-700);
		font-size: 18px;
		font-weight: 500;
	}
	p {
		color: var(--color-success-600);
		font-size: 16px;
		font-weight: 400;
	}
}

.error {
	background-color: var(--color-danger-100);

	.wrapIcon {
		background-color: var(--color-danger-25);
	}
	h3 {
		color: var(--color-danger-700);
		font-size: 18px;
		font-weight: 500;
	}
	p {
		color: var(--color-danger-600);
		font-size: 16px;
		font-weight: 400;
	}
}

.warning {
	background-color: var(--color-warning-100);

	.wrapIcon {
		background-color: var(--color-warning-25);
	}
	h3 {
		color: var(--color-warning-700);
		font-size: 18px;
		font-weight: 500;
	}
	p {
		color: var(--color-warning-600);
		font-size: 16px;
		font-weight: 400;
	}
}
