.pool_action_input_widget {
	display: flex;
	flex-direction: column;
	max-width: 394px;
	width: 100%;
	align-items: center;
}

@media only screen and (min-width: 641px) and (max-width: 1024px) {
	.pool_action_input_widget {
		width: 448px;
	}
}

@media only screen and (max-width: 640px) {
	.pool_action_input_widget {
		max-width: 100%;
		width: 100%;
	}
}
