.rewards_chart_visual {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: var(--space-xs);
	flex: 1 0 0;
	width: 100%;

	& .rewards_chart_loader {
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 1 0 0;
		width: 100%;
	}
}
