.tooltip {
	background: var(--color-gray-900);
	padding: var(--space-xs) var(--space-s);
	flex-direction: row;
	display: none;
	align-items: center;
	gap: var(--space-xs);
	border-radius: var(--space-s);
	box-shadow: 0 2px 12px 0 rgba(52, 64, 84, 0.2);

	b {
		color: var(--color-gray-100);
		font-weight: 500;
	}

	p {
		color: var(--color-gray-300);
		font-weight: 500;
	}
}
