.footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: var(--sp-lg);
	border-top: 1px solid var(--color-grey-300);
	gap: var(--sp-sm);
}

.poolButtons {
	flex-direction: row;
	gap: var(--sp-sm);
}

.button {
	width: 177px;
	height: 48px;
}
