.pool_action_info_board {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: var(--space-s);
	align-self: stretch;
}

.pool_action_gas_info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	align-self: stretch;
}

.pool_action_gas_info_description {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: var(--space-xs);
}

.pool_action_gas_info_text {
	font-size: 1rem;
	font-weight: 400;
	line-height: 20px;
	color: var(--color-gray-600);
}

.pool_action_gas_info_value {
	font-size: 1rem;
	font-weight: 500;
	line-height: 20px;
	color: var(--color-gray-700);
}

.pool_action_eta_info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	align-self: stretch;
}

.pool_action_eta_info_description {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: var(--space-xs);
}

.pool_action_eta_info_text {
	font-size: 1rem;
	font-weight: 400;
	line-height: 20px;
	color: var(--color-gray-600);
}

.pool_action_eta_info_container {
	display: flex;
	align-items: center;
	gap: var(--space-xxs);
}

.pool_action_eta_info_value {
	font-size: 1rem;
	font-weight: 500;
	line-height: 20px;
	color: var(--color-gray-700);
}

.pool_action_eta_info_value_loading {
	font-size: 1rem;
	font-weight: 500;
	line-height: 20px;
	color: var(--color-gray-600);
}
