.theme_toggle {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: var(--space-xs);

	& .theme_toggle_content {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: var(--space-xs);

		& .theme_toggle_label {
			font-size: 0.875rem;
			font-weight: 400;
			text-align: center;
			color: var(--color-gray-600);
		}
	}
}
