.process_action {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 394px;
	border-radius: var(--space-l);
	background-color: var(--color-gray-25);
	gap: var(--space-xs);
	padding: var(--space-m);
	position: relative;
	z-index: 5;
}

@media only screen and (min-width: 641px) and (max-width: 1024px) {
	.process_action {
		width: 448px;
	}
}

@media only screen and (max-width: 640px) {
	.process_action {
		max-width: 100%;
		width: 100%;
	}
}
